<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminPanel.ManageUsersActivity" />
        <activity android:name=".AdminPanel.AdminHomeActivity" />
        <activity android:name=".UserHistory.GraphHistoryView" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".MedicalCard.AnthropometricDataScreen" />
        <activity android:name=".DataAnalysis.DataAnalysisActivity" />
        <activity android:name=".MedicalCard.ShareMedicalDataScreen" />
        <activity
            android:name=".UserHistory.TableHistoryView"
            android:parentActivityName=".UserHistory.UserHistoryScreen" />
        <activity
            android:name=".MedicalCard.MedicalCardScreen"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserHistory.UserHistoryScreen"
            android:parentActivityName=".MedicalCard.MedicalCardScreen" />
        <activity
            android:name=".UserActivities.FoodRelatedActivity"
            android:parentActivityName=".UserActivities.LifestyleActivity" />
        <activity
            android:name=".UserActivities.LifestyleActivity"
            android:parentActivityName=".UserActivities.UserActivitiesScreen" />
        <activity
            android:name=".UserActivities.ShareFeelingsActivity"
            android:parentActivityName=".UserActivities.UserActivitiesScreen" />
        <activity
            android:name=".SampleDispatchActivity"
            android:parentActivityName=".SampleDispatchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserActivities.UserActivitiesScreen"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.parse.ui.login.ParseLoginActivity"
            android:label="BioWaze Login"
            android:launchMode="singleTop">
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.APP_LOGO"
                android:resource="@drawable/biowazelogo" />
            <meta-data
                android:name="com.parse.ui.login.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.login.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.login.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_PERMISSIONS"
                android:resource="@array/my_facebook_permissions" />
            <meta-data
                android:name="com.parse.ui.login.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
                android:value="false" />
        </activity>

        <meta-data
            android:name=".APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name=".CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <activity android:name=".MainActivity" />
    </application>

</manifest>